<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Project
	link(rel="stylesheet", href="libs/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css")
	link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="css/main.css")
body
	div#wrapper
		#content
			nav
				.container
					.row
						.col-3
							.logo
								img(src="img/fingerprint.png", alt="")
						.col-2.offset-4
							.linkItem
								a(href="##") Features
						.col-2
							.linkItem
								a(href="##") Support
						.col-1
							.linkItem
								a(href="##") Blog
			section#main
				.container
					.row
						.col-5
							.contentWrap
								h1 Inspire your inspiration
								h3 Simple to use for your app, products showcase and your inspiration
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit 
								button.button-empty Download
									i.fas.fa-cloud-download-alt
						.col-5.offset-2
							.imgWrap
								img(src="img/LogoInverse.png", alt="")
			section#features
				.container
					.row
						.col-11.offset-1
							.headWrap
								h2 Tinyone features
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae minus repellendus perspiciatis doloribus, harum sapiente at vero placeat debitis totam.
					.row
						.col-12
							hr
					.row
						.col-1
							.iconWrap
								img(src="img/icon-font-1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, rem.
						.col-1
							.iconWrap
								img(src="img/icon-font-1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, explicabo.
						.col-1
							.iconWrap
								img(src="img/icon-font-1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, totam.
						.col-1
							.iconWrap
								img(src="img/icon-font-1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, quas.
						.col-1
							.iconWrap
								img(src="img/icon-font-1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, culpa.
						.col-1
							.iconWrap
								img(src="img/icon-font-1.png", alt="")
						.col-3
							.textWrap
								h4 Header
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, vitae.
		footer
	